<div class="container-container">
  <form id="user-entry">
    <input type="text" id="author" placeholder="Type username... tab to submit" autofocus>
  </form>
  <div class="container">
  </div>
</div>
